{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-header bg-primary text-white">
                    <h3 class="mb-0 text-center">Create Account</h3> {# This title seems incorrect for a login page - should be "Login" or "Sign In" #}
                </div>
                <div class="card-body">
                    {% crispy form %}
                </div>
                <div class="card-footer text-center">
                    <small>Already have an account? <a href="{% url 'login' %}">Sign In</a></small> {# This link should go to register #}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
